<h1>Buttons</h1>
<p><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/new">Add Button</a></p>

<table>
    <th>Multiplier</th>
    <th>Default</th>


    <% @block.buttons.each do |button| %>
    <tr>
        <td><%= button.multiplier %></td>
        <td><%= button.default %></td>
    </tr>
    <% end %>


<table>