<h2 class="page-heading">Signup</h2>

<form method="POST" action="/users">

    <label class="signup-label">Username: </label><input type="text" name="username" required class="signup-input"><br><br>
    <label class="signup-label">Email: </label><input type="text" name="email" required class="signup-input"><br><br>
    <label class="signup-label">Password: </label><input type="password" name="password" required class="signup-input"><br>

    <input type="submit" value="submit">


</form>