<h2 class="page-heading">Signup</h2>

<form method="POST" action="/users">
    <table>
    <tr>
        <td><label class="signup-label">Username: </label></td>
        <td><input type="text" name="username" required class="signup-input"></td>
    </tr>
    <tr>
        <td><label class="signup-label">Email: </label></td>
        <td><input type="text" name="email" required class="signup-input"></td>
    </tr>
    <tr>
        <td><label class="signup-label">Password: </label></td>
        <td><input type="password" name="password" required class="signup-input"></td>   
    </table>

    <input type="submit" value="submit" class="submit-button">

</form>

<p><a href="/login">Already have an account? Login here.</a></p>