<p><a href="/signup">Signup</a> || <a href="/login">Login</a></p>

<div id="about">
    <p>Only asking for $10, $15, and $50 when fundraising is boring. It's so much better when asks are dynamic, and based on your giving history. Not only does this increase the amount of donations, but it's very easy to implement too!</p>
    <p>This is a dynamic ask generator that creates the liquid you need in order to multiply donation amounts. Create an account and check it out!</p> 


</div>