<!doctype html>
<html>
  <head>
    <title>Button Block Creator</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css" />
  </head>
  <body>
  <h1>Button Block Generator</h1>
  <%= yield %>
<br><br><br><br>
<%= render_breadcrumbs %><br><br>
  <% if logged_in? %>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% end %>
  </body>
</html>